<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YourLogo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">General</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-link" href="#">Platinum Pro Moving</a>
    </div>
  </div>
</nav>

<div class="hero-section text-white text-center d-flex align-items-center justify-content-center" style="background-image: url('https://images.unsplash.com/photo-1605450099279-533bd3ce379a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <h1 class="metal-roofing-title">Windows and Doors installation</h1>
</div>


<div class="container-second  py-5" style="position: relative;">
  <div class="row justify-content-center align-items-end" style="height: 100%;">
    <div class="col-md-8 text-center">
      <h2 class="text-container-painting-h2 display-4 mb-3">
        Elevate Your Home with Expert Windows and Doors Installation:
      </h2>
      <p class="text-container-painting-p lead">
        Welcome to Platinum Pro Construction, your partner in enhancing your space's beauty, functionality, and energy efficiency through our top-tier windows and doors installation services.      </p>
    </div>
  </div>
</div>
