<app-title [title]="'Landscaping'"></app-title>

<app-description
  [title]="'Crafting Enchanting Outdoor Spaces through Expert Landscaping:'"
  [description]="'Crafting Enchanting Outdoor Spaces through Expert Landscaping:'"
></app-description>

<app-features
  [items]="
  [{
    title: 'Painting Services',
    items: [
      { title: 'Bringing in Natural Light', description: 'Our expert team understands the importance of natural light. We specialize in installing windows that flood your interiors with sunlight, creating a warm and inviting atmosphere.' },
      { title: 'Energy Efficiency', description: 'Upgrade your home`s energy efficiency with our high-quality, insulated windows selection. Our windows help regulate indoor temperature, reducing energy consumption.' },
      { title: 'Custom Design', description: 'Your vision is our priority. We offer a range of window styles, sizes, and materials to match your aesthetic preferences and architectural design.' },
      { title: 'Professional Craftsmanship', description: 'With a keen eye for detail and precision, our installers ensure a seamless fit, weatherproofing, and proper functionality of your windows.' }

    ]
  },
  {
    title: 'Drywall Solutions',
    items: [
      { title: 'Inviting Entryways', description: 'Make a statement with our expertly installed doors that welcome you and your guests. We offer a variety of styles, from classic to contemporary, to complement your home`s character.' },
      { title: 'Security and Durability', description: 'Our doors not only enhance aesthetics but also provide security and durability. We offer options that are built to withstand the elements and protect your home.' },
      { title: 'Seamless Installation', description: 'Our installation process ensures seamless integration of doors into your space, ensuring proper alignment, smooth operation, and a snug fit.' }
    ]
  }]

"
></app-features>

