.nav-item:not(:last-child) {
  position: relative;
}

.nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px; /* Расстояние от пункта меню до разделителя */
  transform: translateY(-50%);
  height: 1em; /* Высота разделителя */
  width: 1px; /* Ширина разделителя */
  background-color: #333; /* Цвет разделителя */
}
.metal-roofing-title {
  font-family: Arial, sans-serif;
  font-size: 104px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0;
  z-index: 2;
}
.superiority-title {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

.roofing-description {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 0;
}


.hero-section {
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 56, 78, 0.5); /* Синий цвет с 50% прозрачностью */
  z-index: 1; /* Поместить поверх изображения */
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-section {
    height: 300px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-section {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .hero-section {
    height: 600px;

  }
}

