<app-title [title]="'Contact'"></app-title>

<div class="container-second py-5 position-relative">
  <div class="row justify-content-center align-items-end h-100p">
    <div class="col-md-8 text-center">
      <p class="text-container-painting-p lead">
        <span class="text-container-painting-h2 display-4 mb-3">Our Goal</span>

        is to provide various construction-related services, deliver
        high-quality projects, and meet clients' needs while ensuring safety,
        efficiency, and sustainability.
      </p>
    </div>
  </div>
</div>

<app-description [title]="'Lorem'" [description]="'lorem'"></app-description>

<div class="container py-5">
  <div class="row">
    <div class="col-md-3 mb-4">
      <h3>Title 1</h3>
      <p>Description 1</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 2</h3>
      <p>Description 2</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 3</h3>
      <p>Description 3</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 4</h3>
      <p>Description 4</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 5</h3>
      <p>Description 5</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 6</h3>
      <p>Description 6</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 7</h3>
      <p>Description 7</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 8</h3>
      <p>Description 8</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 9</h3>
      <p>Description 9</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 10</h3>
      <p>Description 10</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 11</h3>
      <p>Description 11</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 12</h3>
      <p>Description 12</p>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="row">
    <div class="col-md-3 mb-4">
      <h3>Title 1</h3>
      <p>Description 1</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 2</h3>
      <p>Description 2</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 3</h3>
      <p>Description 3</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 4</h3>
      <p>Description 4</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 5</h3>
      <p>Description 5</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 6</h3>
      <p>Description 6</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 7</h3>
      <p>Description 7</p>
    </div>
    <div class="col-md-3 mb-4">
      <h3>Title 8</h3>
      <p>Description 8</p>
    </div>

  </div>
</div>
