<app-title [title]="'Contact'"></app-title>

<div class="container-second py-5 position-relative">
  <div class="row justify-content-center align-items-end h-100p">
    <div class="col-md-8 text-center">
      <p class="text-container-painting-p lead">
        <span class="text-container-painting-h2 display-4 mb-3">Our Goal</span>

        is to provide various construction-related services, deliver
        high-quality projects, and meet clients' needs while ensuring safety,
        efficiency, and sustainability.
      </p>
    </div>
  </div>
</div>

<app-description [title]="'Lorem'" [description]="'lorem'"></app-description>

<app-list [items]=" [
    {title: 'test', description: 'test'},
    {title: 'test', description: 'test'},
    {title: 'test', description: 'test'},
    {title: 'test', description: 'test'},


]"></app-list>
