<app-title [title]="'Metal Roofing'"></app-title>

<app-description
  [title]="'Discover the Superiority of Metal Roofing:'"
  [description]="'Elevate your roofing solution with the durability and elegance of metal roofing. Crafted from high-quality steel, aluminum, copper, or zinc, metal roofing provides an exceptional blend of strength, longevity, and style.'"
></app-description>



<app-list [items]="[
    {title: 'Lasting Durability', description: 'With a lifespan of 40-70 years or more, metal roofs outshine traditional materials in terms of resilience and longevity.' },

    {title: 'Weather Resilience', description: 'Embrace worry-free protection against rain, snow, hail, and wind. Metal roofs effortlessly shed snow, reducing structural strain.' },

    {title: 'Efficient Energy Performance', description: 'Reflective surfaces curb heat absorption, slashing cooling costs and enhancing energy efficiency.' },

    {title: 'Minimal Maintenance', description: 'Enjoy hassle-free upkeep with metal`s resistance to rot, decay, and insect damage. Occasional cleaning and checks keep your roof in prime condition.' },

    {title: 'Fire Safeguard', description: 'Non-combustible metal offers added defense against fires, making it a smart choice, especially in fire-prone areas.' },

    {title: 'Aesthetic Freedom', description: 'Personalize your roof`s appearance with a spectrum of colors, styles, and profiles to match your vision and architectural design.' },

    {title: 'Seamless Installation', description: 'Our experts ensure seamless installation, securing metal panels with precision for water-tightness and longevity. Adequate ventilation and insulation prevent warping, maintaining your roof\'s integrity.' },

    {title: 'Economical Long-Term Choice', description: 'While the initial investment may be higher, the enduring quality of metal roofing, coupled with lowered maintenance and energy expenses, make it a cost-effective, environmentally responsible choice in the long run.' }
]"></app-list>

<!--slider-->

<div class="slider-container">
  <div class="slider-wrapper">
    <button class="arrow left-arrow" (click)="prevImages()">&#10094;</button>
    <div class="row">
      <div class="column" *ngFor="let image of visibleImages">
        <img [src]="image" alt="Slider Image">
      </div>
    </div>
    <button class="arrow right-arrow" (click)="nextImages()">&#10095;</button>
  </div>
</div>

