$font-family: Arial, sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;
$text-align-center: center;

.container-second {
  margin: 200px 0;
}

.text-container-painting {
  h2 {
    font-family: $font-family;
    font-size: 36px;
    font-weight: $font-weight-bold;
    line-height: 41px;
    text-align: $text-align-center;
  }

  p {
    font-family: $font-family;
    font-size: 32px;
    font-weight: $font-weight-normal;
    line-height: 37px;
    text-align: $text-align-center;
  }
}
