<app-title [title]="'Painting and drywalls'"></app-title>

<app-description
  [title]="'Transforming Spaces with Expert Painting and Drywall Services:'"
  [description]="'Welcome to Platinum Pro Construction, where we specialize in revitalizing interiors through top-notch painting and drywall solutions. Our skilled team brings life to your spaces, creating a harmonious blend of aesthetics and functionality.'"
></app-description>

<app-features
  [items]="
  [{
    title: 'Painting Services',
    items: [
      { title: 'Elevate Ambiance', description: 'Our painting experts understand the power of color. Whether you seek serene neutrals, vibrant accents, or a unique palette, we`ll help you achieve the perfect atmosphere.' },
      { title: 'Precision Application', description: 'Using premium paints and cutting-edge techniques, we ensure smooth and flawless application for a professional finish that stands the test of time.' },
      { title: 'Customized Design', description: 'Our team collaborates closely with you to bring your vision to life. From color selection to texture implementation, we create a space that resonates with your style.' },
      { title: 'Residential and Commercial', description: 'Whether revamping your home or enhancing your business environment, our painting services cater to residential and commercial needs.' }

    ]
  },
  {
    title: 'Drywall Solutions',
    items: [
      { title: 'Seamless Installation', description: 'Our drywall experts craft a clean canvas for your interiors. With meticulous installation, we create even surfaces ready for the transformative touch of paint.' },
      { title: 'Repair and Restoration', description: 'From minor dents to extensive damage, we have the expertise to restore your walls to their original condition. Our team ensures a seamless blend, making repairs virtually invisible.' },
      { title: 'Soundproofing and Insulation', description: 'Beyond aesthetics, our drywall services offer functional benefits. Enhance privacy and energy efficiency through our specialized soundproofing and insulation solutions.' },
      { title: 'Timely Project Completion', description: 'We understand the importance of timelines. Our efficient approach ensures your painting and drywall projects are completed within schedule, minimizing disruption.' }
    ]
  }]

"
></app-features>

